html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    background-color: #ffeddc;
    overflow-y: scroll;
}

h1 {
    margin-left: 20px;
}

.task_1-2 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.task_style {
    display: block;
    margin-left: 20px;
    margin-top: 40px;
}

.task_1_buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.container_for_square {
    display: flex;
    height: 110px;
}

#square {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #000;
}

.button_style {
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #00cc44;
    color: white;
    box-shadow: 0 4px #969090;
}

.button_style:hover {
    background-color: #158d3d;
}

.button_style:active {
    box-shadow: 0 1px;
    transform: translateY(4px);
}

.hidden {
    opacity: 0;
}

.black_square {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    background-color: #000;
}

#selectorsForm {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-top: 20px;
    width: 150px;
}

.task_4 input {
    margin-top: -15px;
}

#yellow_square {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.task_6 .container_for_square {
    height: 60px;
}

#red_square {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: red;
    opacity: 0;
}

.task_7 .container_for_square {
    height: 30px;
}

#green_rectangle {
    display: flex;
    width: 50px;
    height: 20px;
    background-color: green;
    opacity: 0;
}

.task_8 form {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-top: 20px;
    width: 150px;
}

.task_8 input {
    margin-top: -15px;
}

.task_10 {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: blue;
}

#coordinates {
    color: white;
}

.task_11 {
    position: absolute;
    top: 58px;
    right: 200px;
    background-color: #FFFFFF;
}

#browser_lang {
    margin: 12px 10px;
}

.task_12 {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 200px;
}

.task_12 div {
    display: flex;
    align-items: center;
}

.task_12 div h3 {
    margin-right: 10px;
}

.task_12 div p {
    margin: 0 10px;
}

#position_container {
    width: 316px;
    background-color: #FFFFFF;
}

.task_13 {
    display: flex;
    flex-direction: column;
}

.task_13_input {
    max-width: 153px;
    margin-top: -15px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

.task_14 a {
    text-decoration: none;
    color: #FFFFFF;
}
